* {
margin: 0px;
padding: 0px;
}

footer {
    background-color: black;
    color:  white;
    height: 80px;
    text-align: center;
}

footer p {
    padding-top: 2%;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.section-flex {
    display: flex;
    flex-wrap: wrap;
}

.character {  /* se modifica el artículo */
    width: 25%;
    margin: 3%;
    border: 2px red solid; 
    text-align: center;
    border-radius: 5px; 
}

.character img {  /* se modifica la imagen dentro del artículo */
    width: 80%;
    border-radius: 3%;
}

.info-character {
    text-align: justify;
    padding: 3%; /* espacios alrededor del padding*/
}