 
    nav {
    background-color: black;
    color: blanchedalmond;
    }

    .menu {
        display: flex;
        align-items: center;
    }

    .menu li {
        width: 10%;
        list-style: none;
    }

    .menu a {
        color: blanchedalmond;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    .logo {
        flex-grow: 3;
    }

    .logo img {
        width: 20%;
        height: auto;
    }

    .menu a:hover {
        background-color: white;
        border: 5px white solid;
        border-radius: 3px;
        color:black;
    }




